* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    letter-spacing: 1px;
}
.pointer, .pointer:hover {
    cursor: auto;
}
html, body{
    overflow-x: hidden;
}
body {
    margin: 0;
    letter-spacing: 1px;
}

/*Nav Section*/
nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background: linear-gradient(90deg, rgba(0,129,222,1) 0%, rgba(0,27,46,1) 100%, rgba(235,235,235,1) 076633%);
    color: #ebebeb;
    z-index: 1.1;
}

.nav-logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    font-weight: 700;
}

.nav-links {
    display: flex;
    width: 50%;
    min-width: 35%;
    justify-content: space-around;
    list-style: none;
}

.nav-links a {
    color: #ebebeb;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
}

.nav-links a:hover {
    color: #ffc525;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    transition: 0.5s;
}

.nav-burger {
    display: none;
    cursor: pointer;
}

.nav-burger div {
    width: 25px;
    height: 3px;
    background-color: #f5ebe0;
    margin: 5px;
    transition: all 0.3s ease;
}

@media only screen and (max-width:1023px) {
body {
    overflow-x: hidden;
}

.nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: linear-gradient(90deg, rgba(0,129,222,1) 0%, rgba(0,27,46,1) 100%, rgba(235,235,235,1) 076633%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.nav-links li {
    opacity: 0;
}

.nav-burger {
    display: block;
}
}

.nav-active {
transform: translateX(0%);
}

@keyframes navLinkFade {
from {
    opacity: 0;
    transform: translateX(50px);
}
to {
    opacity: 1;
    transform: translateX(0px);
}
}

.toggle .burger-line-1 {
transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .burger-line-2 {
opacity: 0;
}
.toggle .burger-line-3 {
transform: rotate(45deg) translate(-5px, -6px);
}

/* Profile info */
@media only screen and (min-width:769px) {
    .profile-info {
        background-color: #ebebeb;
        margin-top: 5rem;
    }

    .profile-info img {
        display: block;
        margin: 1rem auto;
        border: 25px solid #ebebeb;
        border-radius: 50%;
        height: 350px;
        width: 350px;
    }

    .profile-text-blue {
        text-align: center;
        margin: 0.5rem auto;
        color: #0081DE;
        font-size: 35px;
    }

    .profile-text-grey {
        text-align: center;
        margin: 0.5rem auto;
        color: #001b2e;
        font-weight: 200;
        font-size: 30px;
    }

    .profile-buttons {
        text-align: center;
        margin: 1rem auto;
    }

    .profile-buttons button {
        background-color: #0081DE;
        color: #001b2e;
        font-size: 25px;
        padding: 20px;
        margin: 0px 8px 50px;
        border-radius: 60px;
        border: 1px solid #0081DE;
    }

    .profile-buttons button:hover {
        background-color: transparent;
        border: #0081DE;
        background-color: #ffc525;
        color: #0081DE;
        cursor: pointer;
        border: 1px solid #0081DE;
        transition: 0.5s;
    }
}

@media only screen and (max-width:768px) {
    .profile-info {
        background-color: #ebebeb;
        margin-top: 5rem;
    }

    .profile-info img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 25px solid #ebebeb;
        border-radius: 50%;
        height: 320px;
        width: 320px;
    }

    .profile-text-blue {
        text-align: center;
        margin: 0.5rem auto;
        color: #0081DE;
        font-size: 30px;
    }

    .profile-text-grey {
        text-align: center;
        margin: 0.5rem auto;
        color: #001b2e;
        font-weight: 200;
        font-size: 25px;
    }

    .profile-buttons {
        margin: 1rem auto;
        text-align: center;
    }

    .profile-buttons button {
        background-color: #0081DE;
        color: #001b2e;
        font-size: 16px;
        padding: 15px;
        margin: 0px 8px 50px;
        border-radius: 60px;
        border: 1px solid #0081DE;
    }

    .profile-buttons button:hover {
        background-color: transparent;
        border: #0081DE;
        color: #0081DE;
        background-color: #ffc525;
        cursor: pointer;
        border: 1px solid #0081DE;
        transition: 0.5s;
    }
}
/*About Me*/

@media only screen and (min-width:769px) {
    .about-me {
        background: rgb(0,129,222);
        background: linear-gradient(90deg, rgba(0,129,222,1) 0%, rgba(0,27,46,1) 100%, rgba(235,235,235,1) 076633%);
        padding: 20px;
        align-content: center;
        text-align: center;
        color: white;
        padding: 50px 10%;
    }

    .about-me h4, span, [href] {
        color: #ffc525;;
        font-weight: bold;
    }

    .about-me h2 {
        color: #ffc525;;
        font-weight: bold;
        font-size: 40px;
        margin: 1rem auto;

    }

    .about-me h3 {
        color: white;
        font-size: 25px;
        justify-content: center;
        margin: 1rem auto;
    }

    .about-me p {
        color: white;
        font-size: 20px;
        justify-content: center;
        margin: 1rem auto;

    }

    .about-follow-text {
        color: #0081DE;
    }

    .socials-buttons button {
        background-color: #ffc525;;
        color: #001b2e;
        font-size: 25px;
        padding: 20px;
        margin: 0px 8px 25px;
        border-radius: 60px;
        border: 1px solid #001b2e;
    }

    .socials-buttons button:hover {
        background-color: transparent;
        border: 1px solid #0081DE;
        color: #ffc525;
        background-color: #0081DE;
        cursor: pointer;
        transition: 0.5s;
    }

    .skills-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills-info div{
        width: 250px;
        margin: 20px 20px 50px;
        display: inline-block;
        border: 2px solid #0081DE;
        background-color: #001b2e;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        vertical-align: top;
    }

    .skills-info img {
        height: 180px;
        padding: 15px;
    }
}

@media only screen and (max-width:768px) {
    .about-me {
        background: rgb(0,129,222);
        background: linear-gradient(90deg, rgba(0,129,222,1) 0%, rgba(0,27,46,1) 100%, rgba(235,235,235,1) 076633%);
        padding: 20px;
        align-content: center;
        text-align: center;
        color: white;
    }

    .about-me h4, span, [href] {
        color: #ffc525;;
        font-weight: bold;
    }

    .about-me h2 {
        color: #ffc525;;
        font-weight: bold;
        font-size: 40px;
        margin: 1rem auto;
    }

    .about-me h3 {
        color: white;
        font-size: 25px;
        justify-content: center;
        margin: 1rem auto;
    }

    .about-me p {
        color: white;
        font-size: 20px;
        justify-content: center;
        margin: 1rem auto;
    }

    .about-follow-text {
        color: #0081DE;
    }

    .socials-buttons button {
        background-color: #ffc525;;
        color: #001b2e;
        font-size: 25px;
        padding: 20px;
        margin: 0px 8px 25px;
        border-radius: 60px;
        border: 1px solid #001b2e;
    }

    .socials-buttons button:hover {
        background-color: transparent;
        border: 1px solid #0081DE;
        color: #ffc525;
        background-color: #0081DE;
        cursor: pointer;
        transition: 0.5s;
    }

    .skills-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills-info div{
        width: 250px;
        margin: 20px 20px 50px;
        display: inline-block;
        border: 2px solid #0081DE;
        background-color: #001b2e;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        vertical-align: top;
    }

    .skills-info img {
        height: 180px;
        padding: 15px;
    }
}

@media only screen and (max-width:380px) {
    .about-me {
        background: rgb(0,129,222);
        background: linear-gradient(90deg, rgba(0,129,222,1) 0%, rgba(0,27,46,1) 100%, rgba(235,235,235,1) 076633%);
        padding: 20px;
        align-content: center;
        text-align: center;
        color: white;
    }

    .about-me h4, span, [href] {
        color: #ffc525;;
        font-weight: bold;
    }

    .about-me h2 {
        color: #ffc525;;
        font-weight: bold;
        font-size: 30px;
    }

    .about-me h3 {
        color: white;
        font-size: 20px;
        justify-content: center;
        line-height: 1.3;
    }

    .about-me p {
        color: white;
        font-size: 16px;
        justify-content: center;
        line-height: 1.4;
    }

    .about-follow-text {
        color: #0081DE;
    }

    .socials-buttons button {
        background-color: #ffc525;;
        color: #001b2e;
        font-size: 20px;
        padding: 15px;
        margin: 0px 8px 25px;
        border-radius: 60px;
        border: 1px solid #001b2e;
    }

    .socials-buttons button:hover {
        background-color: transparent;
        border: 1px solid #0081DE;
        color: #ffc525;
        background-color: #0081DE;
        cursor: pointer;
        transition: 0.5s;
    }

    .skills-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills-info div {
        width: 240px;
        margin: 20px 20px 50px;
        background-color: #001b2e;
        display: inline-block;
        border: 2px solid #0081DE;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        vertical-align: top;
    }

    .skills-info img {
        height: 180px;
        padding: 15px;
    }
}

/*Experience Section*/
.experience {
    background-color: #ebebeb;
    align-content: center;
    text-align: center;
}

.experience h2 {
    color: #001b2e;
    margin: 1rem auto;
    padding-top: 20px;
    font-size: 40px;
}

.experience h4 {
    color: #001b2e;
    margin: 1rem auto;
    font-size: 25px;
}

.experience-education h2 {
    padding-top: 0px;
}

.experience-education div {
    width: 280px;
    display: inline-block;
    border: 2px solid #001b2e;
    height: 450px;
    border-radius: 10px;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
}

.experience-employment div {
    width: 250px;
    display: inline-block;
    border: 2px solid #001b2e;
    height: 290px;
    border-radius: 10px;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
    margin-bottom: 50px;
}

.experience-education div img {
    height: 135px;
    align-content: center;
}

.experience-education h4 {
    font-size: 30px;
    color: #001b2e;
    font-weight: bold;
}

.experience-education p {
    color: #001b2e;
    font-size: 20px;
    margin: 1rem auto;
    font-weight: bold;
    margin-bottom: 25px;
}

.experience-education [href] {
    color: #001b2e;
    text-decoration: none;
}

.experience-education a:hover {
    color: #0081DE;
    text-decoration: none;
    transition: 0.5s;
}

.experience-education div button {
    vertical-align: bottom;
    background-color: #0081DE;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    border: #001b2e;
}

.experience-education div button:hover {
    background-color: transparent;
    border: #0081DE;
    color: #0081DE;
    background-color: #ffc525;
    cursor: pointer;
    border: 1px solid #0081DE;
    transition: 0.5s;
}

.experience-employment h4 {
    font-size: 30px;
    color: #001b2e;
    font-weight: bold;
}

.experience-employment h5 {
    color: #001b2e;
    margin: 1rem auto;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.experience-employment p {
    color: #001b2e;
    height: 60px;
}

.experience-employment [href] {
    color: #001b2e;
    text-decoration: none;
}

.experience-employment [href]:hover {
    color: #0081DE;
    text-decoration: none;
    transition: 0.5s;
}

.experience-employment div button {
    vertical-align: bottom;
    background-color: #0081DE;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    border: #001b2e;
}

.experience-employment div button:hover {
    background-color: transparent;
    border: #0081DE;
    color: #0081DE;
    background-color: #ffc525;
    cursor: pointer;
    border: 1px solid #0081DE;
    transition: 0.5s;
}

/*Portfolio Section*/
.portfolio {
    background: rgb(0,129,222);
background: linear-gradient(90deg, rgba(0,129,222,1) 0%, rgba(0,27,46,1) 100%, rgba(235,235,235,1) 076633%);
    align-content: center;
    text-align: center;
    padding: 50px;
}

.portfolio h2 {
    margin-top: 0;
    color: #ffc525;;
    padding-top: 25px;
}

.portfolio h3 {
    color: white;
    margin: 2rem;
}

.portfolio p {
    height: 2.5rem;
}

.portfolio-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-div {
    border: 1px solid#0081DE;
    background-color: #ebebeb;
    width: 350px;
    height: 420px;
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem;
}

.portfolio-div a {
    color: #0081DE;
    background-color: #ffc525;
    width: 150px;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
}

.portfolio-div a:hover {
    color: #ffc525;
    background-color: #001b2e;
    width: 150px;
    padding: 0.75rem;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.portfolio-div h4, p {
    color: #0081DE;
    margin: 1rem auto;
}

.portfolio-div img {
    height: 200px;
}

/*Contact Form*/
.contact {
    background-color: #ebebeb;
    color: #001b2e;
    text-align: center;
    align-content: center;
}

.contact h2 {
    margin-top: 0;
    padding-top: 20px;
    color: #0081DE;
}

.contact p {
    padding: 10px 10px 25px 10px;
    margin: 0;
}

input[type=text], select, textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #0081DE;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px 15px 16px 15px;
    resize: vertical;
    display: inline-block;
    background: rgb(0,129,222);
background: linear-gradient(90deg, rgba(0,129,222,1) 0%, rgba(0,27,46,1) 100%, rgba(235,235,235,1) 076633%);
    color: #ebebeb;
}

input[type=submit] {
    background-color: transparent;
    color: #0081DE;
    font-size: 15px;
    padding: 15px 30px;
    margin: 0px 8px 50px;
    border-radius: 60px;
    border: 1px solid #001b2e;
}

input[type=submit]:hover {
    background-color: #0081DE;
    color: #001b2e;
    cursor: pointer;
    transition: 0.5s;
}

::placeholder {
    color: #ebebeb;
}

div form {
    margin: 1% 20%;
}

/*Footer*/
footer {
    background-color: #0081DE;
    text-align: center;
}

footer h2 {
    margin: 0px;
    padding: 15px 0px 0px 0px;
    color: #001b2e;
}

footer h3 {
    display: inline-block;
    padding: 0px 10px;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #001b2e;
}

footer h4 {
    margin: 0;
    color: #001b2e;
    font-size: small;
    padding-bottom: 25px;
}

footer ul, footer li, footer [href], footer nav {
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    background-color: #0081DE;
    margin: 0px 10px 5px 10px;
    align-content: center;
    padding: 0px;
}

footer img {
    height: 30px;
}

footer div {
    width: 100%;
    align-content: center;
}
