* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.pointer, .pointer:hover {
    cursor: auto;
}
html,body{
    overflow-x: hidden;
}
body {
    margin: 0;
    letter-spacing: 1px;
}
main {
    position: relative;
    border-top: 110px solid #ebebeb;
}

/* Header Section */
@media only screen and (min-width: 1024px) {
    #main-navbar h1 {
        display: inline-block;
        font-size: larger;
        margin-left: 15px;
        border-top: 3px solid #0081DE;
        border-bottom: 3px solid #0081DE;
        padding: 2px 0;
    }

    .main-nav, nav {
        width: 100%;
        display: inline-block;
        background: rgb(0,129,222);
background: linear-gradient(90deg, rgba(0,129,222,1) 0%, rgba(0,27,46,1) 100%, rgba(235,235,235,1) 076633%);
        position: fixed;
        z-index: 10;
    }

    #main-navbar li, #main-navbar [href] {
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
        vertical-align: middle;
        color: white;
        margin-right: 15px;
        text-transform: uppercase;
        font-weight: 400;
    }

    #main-navbar li, #main-navbar h1, #main-navbar [href]:hover {
        background-color: transparent;
        color: #ffc525;;
    }

    #main-navbar ul {
        float: right;
        height: 25px;
        padding: 1px;
    }
}

@media only screen and (max-width: 1023px) {
    #main-navbar h1 {
        display: none;
    }

    .main-nav, nav {
        width: 100%;
        display: inline-block;
        background-color: transparent;
        position: fixed;
        z-index: 10;
    }

    #main-navbar li, #main-navbar [href] {
        display: inline-block;
        font-size: 1rem;
        text-decoration: none;
        vertical-align: middle;
        color: #0081DE;
        margin-right: .5rem;
        text-transform: uppercase;
        font-weight: 700;
        text-align: justify;
        margin: 0px auto;
    }

    #main-navbar ul {
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        width: auto;
        height: 25px;
        padding: 1px;
    }
}

@media only screen and (max-width: 480px) {
    #main-navbar h1 {
        display: none;
    }

    .main-nav, nav {
        width: 100%;
        display: inline-block;
        background-color: transparent;
        position: fixed;
        z-index: 10;
    }

    #main-navbar li, #main-navbar [href] {
        display: inline-flex;
        font-size: .7rem;
        text-decoration: none;
        vertical-align: middle;
        color: #ffc525;;
        margin-right: .25rem;
        text-transform: uppercase;
        font-weight: 700;
        align-content: space-between
    }

    #main-navbar ul {
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        width: auto;
        height: 25px;
        padding: 1px;
    }
}

/* Profile info */
@media only screen and (min-width:769px) {
    .profile-info {
        background-color: #ebebeb;
    }

    .profile-info img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 25px solid #ebebeb;
        border-radius: 50%;
        height: 350px;
        width: 350px;
    }

    .profile-text-blue {
        text-align: center;
        margin: 5px 0px 0px 0px;
        color: #0081DE;
        font-size: 35px;
    }

    .profile-text-grey {
        text-align: center;
        margin-top: 5px;
        color: #001b2e;
        font-weight: 200;
        font-size: 30px;
    }

    .profile-buttons {
        text-align: center;
    }

    .profile-buttons button {
        background-color: #0081DE;
        color: #001b2e;
        font-size: 25px;
        padding: 20px;
        margin: 0px 8px 50px;
        border-radius: 60px;
        border: 1px solid #0081DE;
    }

    .profile-buttons button:hover {
        background-color: transparent;
        border: #0081DE;
        color: #0081DE;
        cursor: pointer;
        border: 1px solid #0081DE;
    }
}

@media only screen and (max-width:768px) {
    .profile-info {
        background-color: #ebebeb;
    }

    .profile-info img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 25px solid #ebebeb;
        border-radius: 50%;
        height: 320px;
        width: 320px;
    }

    .profile-text-blue {
        text-align: center;
        margin: 5px 0px 0px 0px;
        color: #0081DE;
        font-size: 30px;
    }

    .profile-text-grey {
        text-align: center;
        margin-top: 5px;
        color: #001b2e;
        font-weight: 200;
        font-size: 25px;
    }

    .profile-buttons {
        text-align: center;
    }

    .profile-buttons button {
        background-color: #0081DE;
        color: #001b2e;
        font-size: 16px;
        padding: 15px;
        margin: 0px 8px 50px;
        border-radius: 60px;
        border: 1px solid #0081DE;
    }

    .profile-buttons button:hover {
        background-color: transparent;
        border: #0081DE;
        color: #0081DE;
        cursor: pointer;
        border: 1px solid #0081DE;
    }
}
/*About Me*/

@media only screen and (min-width:769px) {
    .about-me {
        background: rgb(0,129,222);
background: linear-gradient(90deg, rgba(0,129,222,1) 0%, rgba(0,27,46,1) 100%, rgba(235,235,235,1) 076633%);
        padding: 20px;
        align-content: center;
        text-align: center;
        color: white;
        padding: 50px 10%;
    }

    .about-me h4, span, [href] {
        color: #ffc525;;
        font-weight: bold;
    }

    .about-me h2 {
        color: #ffc525;;
        font-weight: bold;
        font-size: 40px;
    }

    .about-me h3 {
        color: white;
        font-size: 25px;
        justify-content: center;
    }

    .about-me p {
        color: white;
        font-size: 20px;
        justify-content: center;
    }

    .about-follow-text {
        color: #0081DE;
    }

    .socials-buttons button {
        background-color: #ffc525;;
        color: #001b2e;
        font-size: 25px;
        padding: 20px;
        margin: 0px 8px 25px;
        border-radius: 60px;
        border: 1px solid #001b2e;
    }

    .socials-buttons button:hover {
        background-color: transparent;
        border: 1px solid #0081DE;
        color: #0081DE;
        cursor: pointer;
    }

    .skills-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills-info div{
        width: 250px;
        margin: 20px 20px 50px;
        display: inline-block;
        border: 2px solid #0081DE;
        background-color: #001b2e;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        vertical-align: top;
    }

    .skills-info img {
        height: 180px;
        padding: 15px;
    }
}

@media only screen and (max-width:768px) {
    .about-me {
        background: rgb(0,129,222);
background: linear-gradient(90deg, rgba(0,129,222,1) 0%, rgba(0,27,46,1) 100%, rgba(235,235,235,1) 076633%);
        padding: 20px;
        align-content: center;
        text-align: center;
        color: white;
    }

    .about-me h4, span, [href] {
        color: #ffc525;;
        font-weight: bold;
    }

    .about-me h2 {
        color: #ffc525;;
        font-weight: bold;
        font-size: 40px;
    }

    .about-me h3 {
        color: white;
        font-size: 25px;
        justify-content: center;
    }

    .about-me p {
        color: white;
        font-size: 20px;
        justify-content: center;
    }

    .about-follow-text {
        color: #0081DE;
    }

    .socials-buttons button {
        background-color: #ffc525;;
        color: #001b2e;
        font-size: 25px;
        padding: 20px;
        margin: 0px 8px 25px;
        border-radius: 60px;
        border: 1px solid #001b2e;
    }

    .socials-buttons button:hover {
        background-color: transparent;
        border: 1px solid #0081DE;
        color: #0081DE;
        cursor: pointer;
    }

    .skills-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills-info div{
        width: 250px;
        margin: 20px 20px 50px;
        display: inline-block;
        border: 2px solid #0081DE;
        background-color: #001b2e;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        vertical-align: top;
    }

    .skills-info img {
        height: 180px;
        padding: 15px;
    }
}

@media only screen and (max-width:380px) {
    .about-me {
        background: rgb(0,129,222);
        background: linear-gradient(90deg, rgba(0,129,222,1) 0%, rgba(0,27,46,1) 100%, rgba(235,235,235,1) 076633%);
        padding: 20px;
        align-content: center;
        text-align: center;
        color: white;
    }

    .about-me h4, span, [href] {
        color: #ffc525;;
        font-weight: bold;
    }

    .about-me h2 {
        color: #ffc525;;
        font-weight: bold;
        font-size: 30px;
    }

    .about-me h3 {
        color: white;
        font-size: 20px;
        justify-content: center;
        line-height: 1.3;
    }

    .about-me p {
        color: white;
        font-size: 16px;
        justify-content: center;
        line-height: 1.4;
    }

    .about-follow-text {
        color: #0081DE;
    }

    .socials-buttons button {
        background-color: #ffc525;;
        color: #001b2e;
        font-size: 20px;
        padding: 15px;
        margin: 0px 8px 25px;
        border-radius: 60px;
        border: 1px solid #001b2e;
    }

    .socials-buttons button:hover {
        background-color: transparent;
        border: 1px solid #0081DE;
        color: #0081DE;
        cursor: pointer;
    }

    .skills-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills-info div {
        width: 240px;
        margin: 20px 20px 50px;
        background-color: #001b2e;
        display: inline-block;
        border: 2px solid #0081DE;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        vertical-align: top;
    }

    .skills-info img {
        height: 180px;
        padding: 15px;
    }
}

/*Experience Section*/
.experience {
    background-color: #ebebeb;
    align-content: center;
    text-align: center;
}

.experience h2 {
    color: #001b2e;
    margin-top: 0;
    padding-top: 20px;
    font-size: 40px;
}

.experience h4 {
    color: #001b2e;
    margin-top: 5px;
    font-size: 25px;
}

.experience-education h2 {
    padding-top: 0px;
}

.experience-education div {
    width: 280px;
    display: inline-block;
    border: 2px solid #001b2e;
    height: 430px;
    border-radius: 10px;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
}

.experience-employment div {
    width: 250px;
    display: inline-block;
    border: 2px solid #001b2e;
    height: 270px;
    border-radius: 10px;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
    margin-bottom: 50px;
}

.experience-education div img {
    height: 135px;
    align-content: center;
}

.experience-education h4 {
    font-size: 30px;
    color: #001b2e;
    font-weight: bold;
}

.experience-education p {
    color: #001b2e;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.experience-education [href] {
    color: #001b2e;
    text-decoration: none;
}

.experience-education [href]:hover {
    color: #0081DE;
    text-decoration: none;
}

.experience-education div button {
    vertical-align: bottom;
    background-color: #0081DE;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    border: #001b2e;
}

.experience-education div button:hover {
    background-color: transparent;
    border: #0081DE;
    color: #0081DE;
    cursor: pointer;
    border: 1px solid #0081DE;
}

.experience-employment h4 {
    font-size: 30px;
    color: #001b2e;
    font-weight: bold;
}

.experience-employment h5 {
    color: #001b2e;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.experience-employment p {
    color: #001b2e;
    height: 60px;
}

.experience-employment [href] {
    color: #001b2e;
    text-decoration: none;
}

.experience-employment [href]:hover {
    color: #0081DE;
    text-decoration: none;
}

.experience-employment div button {
    vertical-align: bottom;
    background-color: #0081DE;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    border: #001b2e;
}

.experience-employment div button:hover {
    background-color: transparent;
    border: #0081DE;
    color: #0081DE;
    cursor: pointer;
    border: 1px solid #0081DE;
}

/*Portfolio Section*/
.portfolio {
    background: rgb(0,129,222);
background: linear-gradient(90deg, rgba(0,129,222,1) 0%, rgba(0,27,46,1) 100%, rgba(235,235,235,1) 076633%);
    align-content: center;
    text-align: center;
    padding: 50px;
}

.portfolio h2 {
    margin-top: 0;
    color: #ffc525;;
    padding-top: 25px;
}

.portfolio h3 {
    color: white;
    margin: 2rem;
}

.portfolio-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-div {
    border: 1px solid#0081DE;
    background-color: #ebebeb;
    width: 350px;
    height: 400px;
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem;
}

.portfolio-div a {
    color: #0081DE;
    background-color: #ffc525;
    width: 150px;
    padding: 0.75rem;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
}

.portfolio-div a:hover {
    color: #ffc525;
    background-color: #001b2e;
    width: 150px;
    padding: 0.75rem;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
}

.portfolio-div h4, p {
    color: #0081DE;
}

.portfolio-div img {
    height: 200px;
}

/*Contact Form*/
.contact {
    background-color: #ebebeb;
    color: #001b2e;
    text-align: center;
    align-content: center;
}

.contact h2 {
    margin-top: 0;
    padding-top: 20px;
    color: #0081DE;
}

.contact p {
    padding: 10px 10px 25px 10px;
    margin: 0;
}

input[type=text], select, textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #0081DE;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px 15px 16px 15px;
    resize: vertical;
    display: inline-block;
    background: rgb(0,129,222);
background: linear-gradient(90deg, rgba(0,129,222,1) 0%, rgba(0,27,46,1) 100%, rgba(235,235,235,1) 076633%);
    color: #ebebeb;
}

input[type=submit] {
    background-color: transparent;
    color: #0081DE;
    font-size: 15px;
    padding: 15px 30px;
    margin: 0px 8px 50px;
    border-radius: 60px;
    border: 1px solid #001b2e;
}

input[type=submit]:hover {
    background-color: #0081DE;
    color: #001b2e;
    cursor: pointer;
}

::placeholder {
    color: #ebebeb;
}

div form {
    margin: 1% 20%;
}

/*Footer*/
footer {
    background-color: #0081DE;
    text-align: center;
}

footer h2 {
    margin: 0px;
    padding: 15px 0px 0px 0px;
    color: #001b2e;
}

footer h3 {
    display: inline-block;
    padding: 0px 10px;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #001b2e;
}

footer h4 {
    margin: 0;
    color: #001b2e;
    font-size: small;
    padding-bottom: 25px;
}

footer ul, footer li, footer [href], footer nav {
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    background-color: #0081DE;
    margin: 0px 10px 5px 10px;
    align-content: center;
    padding: 0px;
}

footer img {
    height: 30px;
}

footer div {
    width: 100%;
    align-content: center;
}
